body {
    background-color: rgb(249, 237, 6);
    font-family: 'Century Gothic', monospace;
}

h1, p {
    color: rgb(0, 0, 0);
    font-family: 'Century Gothic', monospace;
}


form {
    color: rgb(0, 0, 0);
}

form {
    position: absolute;
    top: 19%;
    width: 150px;
    height: 20px;
    padding: 20px;
    padding-left: 40px;
    background: rgba(0, 181, 45, 0.701);
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: azure;
    width: 270px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}