* {
    box-sizing: border-box;
}

body {
    background-color: rgb(147, 225, 95);
    font-family: 'Century Gothic', monospace;
}

h1,
p {
    color: rgb(0, 0, 0);
    font-family: 'Century Gothic', monospace;
}

.slider {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 19%;
    width: 150px;
    height: 20px;
    padding: 20px;
    padding-left: 40px;
    background: rgba(0, 181, 45, 0.701);
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
    margin: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: azure;
    width: 180px;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: white;
}


/*Signin*/

.signin {
    width: 33%;
    left: 33%;
}

#signback {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -10;
}

.signin input:focus {
    outline: none;
    /* Remove the default outline */
    box-shadow: 0 0 0 2px #000000;
    /* Apply a new red box-shadow */
}