<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Sprout</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/about/">About</a></li>
        </ul>
    </nav>

    <h1>About The Sprout Team</h1>

    <h2>Our Mission</h2>


    <h3>Sprout is a stress relief app designed by EPS students to help EPS students deal with the stress of their high school experience.</h3>
    <a target="_blank" href="https://github.com/EastsidePreparatorySchool/Sprout/blob/main/README.md">Read More</a>

    <br>
    <br>

    <h2>Founders</h2>
    <p>Jiaxing Brisbois (11th), Andy Ye (11th)</p>


    <img src="https://epschedule-avatars.storage.googleapis.com/277dbb55d0df0fa2060cce8433d41d24d63249bd07b33f4fba2006552c9e772d.jpg" width="200" height="200">

    <br>

    <h4> Jiaxing </h4>

    <br>

    <img src=https://epschedule-avatars.storage.googleapis.com/96f98c121a1d19d276a34486e9f7cb42166c7ad9ed6c7148e63a6d170de31a33.jpg width="200" height="200">

    <h4> Andy </h4>

    <br>

    <h2>Members</h2>

    <p>Annika Chan (11th), Vedant Mahawar (9th), Gavin Tardif (9th)</p>

    <img src="https://epschedule-avatars.storage.googleapis.com/3be26d334267abb932b27631904664c235acf6f1c27f745400ac15b9f669c6b9.jpg" width="200" height="200">

    <h4> Annika </h4>

    <img src="https://epschedule-avatars.storage.googleapis.com/667d7ba6359b20bf6032d6c0aa2efc06fcbee7fae3a268a87298d58a238988bd.jpg" width="200" height="200">

    <h4> Vedant </h4>

    <img src="https://epschedule-avatars.storage.googleapis.com/d84bef467c6d026893c9e0665a753199b40fb73d6278b5b8a95db4520ffa5a8e.jpg" width="200" height="200">

    <h4> Gavin </h4>

    <!--<div class="container" style = "position:relative; left:570px; top:-1665px;">
    <a href="/">
        <button class="btn btn-primary btn-lg">Home</button>
    </a>-->

</body>

</html>