<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprout</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
    </ul>


    <form method="POST" target="_blank" action="" id="setPageForm" name="setPageForm">
        <input type="range" id="set_page" min="1" max="10" value="5" step="1" name="set_page_value" oninput="output.innerHTML=this.value" onchange="setPage();">
        <p class="value1" id="output"> 5</p>
    </form>

    <button onclick="submitForm()">lee buton</button>

    <h4>How Stressed Are You?</h4>

    <script>
        function setPage() {
            var element = document.getElementById('set_page');
            var newValue = document.getElementById('set_page').value;
            document.forms.setPageForm.action = '/slider/' + newValue;
        }

        function submitForm() {
            document.forms.setPageForm.submit();
        }
    </script>



</body>

</html>
