<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purpose | Sprout</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <ul>
        <li><a href="main.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a class="active" href="purpose.html">Purpose</a></li>
    </ul>


    <form method="POST" target="_blank" action="" id="setPageForm" name="setPageForm">
        <input type="range" id="set_page" min="1" max="10" value="5" step="1" name="set_page_value" oninput="output.innerHTML=this.value" onchange="setPage(); this.form.submit();">
        <p class="value1" id="output"> 5</p>

    </form>
    <script>
        function setPage() {
            var element = document.getElementById('set_page');
            var newValue = document.getElementById('set_page').value;
            document.forms.setPageForm.action = '/slider/' + newValue;
        }
    </script>


</body>

</html>

<!--<div class="container" style = "position:relative; left:1200px; top:-145px;">
    <a href="about">
        <button class="btn btn-primary btn-lg">About</button>
    </a>-->

</body>

</html>