<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprout</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <img src="images/6ccc.jpg" id="signback" alt="background">
    <form class="signin">
        <div class="form-group">
          <label for="emailsign">Email address</label>
          <input type="email" class="form-control bg-opacity-75" id="emailsign" placeholder="Your Email Address">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Next</button>
    </form>
    

    <embed src="images/zenload.mp3" loop="false" autostart="true" width="0" height="0">

    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>